<h1>Bienvenue Administrateur <%=@current_user.name %></h1><br /><br />
<%if @users%>
	<h3>Liste des utilisateurs</h3><br />
	<%@users.each do |user|%>
		<p><%=user.name%></p>	
	<%end%>
<%else%>
	<%=flash[:error]%>
<%end%>

