<h1>Bienvenue Administrateur <%=@current_user.name %></h1><br /><br />
<%if @users%>
	<h3>Liste des utilisateurs</h3><br />
	<%@users.each do |user|%>
		<%=link_to users_show_path(user.id) do%>
			<p><%=user.name%></p>
		<%end%>	
	<%end%>
<%else%>
	<%=flash[:error]%>
<%end%>

